
table {
  width: 100%;
}

.card-img {
  width: 100px;
  height: 65px;
  object-fit: cover;
  opacity: 0.3;
}

.projectCardA {
  color: inherit;
  text-decoration: none;
}

.projectCardA:hover {
  color: inherit;
}

#iconButton {
  border: none;
  background: none;
  color: black;
}

#iconButton:hover {
  border: none;
  background: none;
  color: grey;
}

